/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
} 

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #ebebeb;
}

.header-container,
.main aside {
    background: #f16529;
}

.footer-container{
    background: #fff;
	margin-top: 140px;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: gray;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







 

 





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }




/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




	.runnerStyle{
		font-size: 90px;
		font-family: Arial, sans-serif;
	}
	.timerDiv{
		height: 130px;
	}
 

.styled-select {
	width: 100%;
   height: 39px;
   overflow: hidden;
   background: url("../images/selectarrow.png") no-repeat right;
   border: none;
   opacity: 0.8;
   background-color: #d1d1d1;
}

.styled-select select {
   background: transparent;
   width: 100%;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-top: 5px;
   font-size: 16px;
   border: 0;
   border-radius: 0;
   height: 39px;
   font-weight: 200;
   -webkit-appearance: none;
    font-family: "lato", sans-serif;
    font-size: 18px;
}
 

.styled-select select:focus {
	outline: none;
}

.small-date {
	font-size: .6em;
	color: gray;
	float: right;
}




		a.button{
			padding: 5px 10px 6px;
			color: #fff;
			font-weight:bold;
			background-color:#fff;
			text-decoration: none;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
			border-bottom: 1px solid rgba(0,0,0,0.25);
			float:left;
			cursor: pointer;
		}
		a.button:hover{
			background-color: #111; color: #fff; 
        }
        a.back{
            width:167px;
            height:39px;
            position:absolute;
            bottom:15px;
            left:15px;
			background:#fff;           
        }
        

.selects{
	font-size: 18px;
}

.select-drop{
	width: 80%;
}

inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}

inputs-moz-placeholder {
    color: #b5b5b5;
}

.inputs {
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 270px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
}

.inputs:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #fff38e, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

.lighter-text {
	color: #888888;
	font-size: .8em;
	padding-top: 5px;
}


.text-glow {/*Definig font could be useful!*/
   font-size:2em;
   color: #FFFFFF;
   font-family:Arial;
   font-weight: bold;
text-shadow: 1px 0px 20px #ffd200;
-webkit-transition: 1s linear 0s;
-moz-transition: 1s linear 0s;
-o-transition: 1s linear 0s;
transition: 1s linear 0s;
outline: 0 none;
   }
   
   .glyphiconStyle{
		font-size:40px;
		color:grey;
		display: none;

	}
	
	.glyphicon-remove-button {
		font-size: 25px!important; 
		top:-60px!important;
	}



   .glyphiconStyleSmall{
		font-size:20px;
		color:white;
		display: none;

	}

	.glyphicon{
			text-decoration: none;
		cursor: pointer;
	}
	.glyphicon a:hover{
		color: white;
		cursor: pointer;
			text-decoration: none;
	}

	.glyphiconStyleText{
		font-family: Arial, sans-serif;
		position:relative; top:-25px;font-size:.3em;
	}
	.glyphiconStyleTextSmall{
		font-family: Arial, sans-serif;
	}



#taskemailattachment {
	margin-top: 15px;
	
}



#timer_feedback { 
	font-size: 1em;
	left:5px; 
	position: absolute;
	top:70px; color: white; 
	text-transform: capitalize	
	
	}



div#unsubmitted-time-body ul {
	list-style-type: none;
	padding-left: 0;
} 


div#unsubmitted-time-body ul li {
	border-bottom: 1px solid #ff8d8d;
	padding-top: 5px;
	padding-bottom: 5px;
	
}




#effort-label {
	height: 30px;
	margin-bottom: 20px;
}


.status-area {
	position: absolute; 
	top:70px; 
	right: 10px;
}

div#unsubmitted-time-body ul li a.black-link{
	color: black!important;
}



@media only screen 
and (min-width : 360px) 
and (max-width : 600px) {

	section {
	    width: 100%;
	    height: 60px;
	    margin: auto;
	}
	div#runnerDiv {
	    width: 220px;
	    height: 60px;
	    float: left;
	    font-family: arial, sans-serif;
/*  	    border: 1px solid black;  */
	    line-height: 1;
	}
	div#buttonsDiv {
	    margin-right: 0px;
	    height: 60px;
/* 	    border: 1px solid black;  */
	    font-family: arial, sans-serif;
	}
	
	.runnerStyle{
		font-family: Arial, sans-serif;
		font-size: 54px!important;
	}
	.main {
	    padding: 30px 0;
	}
	
	
	h1 {
	font-size: 1.4em!important;	
	}
	
	.status-area {
		position: absolute; 
		top:60px; 
		right: 10px;
	}
	
	#timer_feedback { 
		font-size: .8em;
		left:5px; 
		position: absolute;
		top:60px; color: white; 
		text-transform: capitalize;
	}
	
	.chosen-container {
	}
	

	#ttpopup {display: none}
	
	.glyphiconStyle {font-size: 30px;}
	
	.glyphiconStyleText{
		font-family: Arial, sans-serif;
		position:relative; top:-12px;font-size:.3em;
	}
	
	div#unsubmitted-time-body ul li {
		font-size: .8em;
	}
	
	form.form-horizontal fieldset legend { 
		font-size: 16px!important;
	}
	
	.footer-container{
	    background: #fff;
		margin-top: 20px;
	}
	
	.footer-container footer {
	    color: gray;
	    padding: 10px 0;
	    font-size: .7em;
	}

	.inputs {
	    margin-bottom: 0px;
    }
	
	.glyphicon-remove-button {
		font-size: 20px!important; 
		top:-35px!important;
	}

}


@media only screen 
and (min-width : 50px) 
and (max-width : 359px) {

	section {
	    width: 100%;
	    height: 120px;
	    margin: auto;
	}
	div#runnerDiv {
	    width: 100%;
	    height: 60px;
	    font-family: arial, sans-serif;
/*  	    border: 1px solid black;  */
	    line-height: 1;
	    text-align: center;
	}
	div#buttonsDiv {
	    margin-right: 0;
	    height: 54px;
/*  	    border: 1px solid black;  */
	    font-family: arial, sans-serif;
	    text-align: center;
	}
	
	.runnerStyle{
		font-family: Arial, sans-serif;
		font-size: 56px!important;
	}
	.main {
	    padding: 0px 0;
	}
	
	
	h1 {
	font-size: 1.4em!important;	
	}
	
	.status-area {
		position: absolute; 
		top:60px; 
		right: 10px;
	}
	
	#timer_feedback { 
		font-size: .8em;
		left:5px; 
		position: absolute;
		top:60px; color: white; 
		text-transform: capitalize;
	}
	
	.chosen-container {
	    font-size: 10px!important;
	}
	
	.glyphiconStyle {font-size: 35px;}
	

	.glyphiconStyleText{
		font-family: Arial, sans-serif;
		position:relative; top:-22px;font-size:.3em;
	}
	
	div#unsubmitted-time-body ul li {
		font-size: .8em;
	}
	
	form.form-horizontal fieldset legend { 
		font-size: 16px!important;
	}
	
	.footer-container{
	    background: #fff;
		margin-top: 20px;
	}
	
	.footer-container footer {
	    color: gray;
	    padding: 10px 0;
	    font-size: .7em;
	}

	#unsubmitted-time {
		font-size: .8em;
		
	}

	.inputs {
	    margin-bottom: 0px;
	    padding: 0px 10px;
    }
    
    #time_amt{
	    width: 100%;
    }

	#ttpopup {display: none}
	

	.glyphicon-remove-button {
		font-size: 15px!important; 
		top:-50px!important;
	}

}



@media only screen 
and (min-width : 601px) {

	section {
	    width: 100%;
	    height: 100px;
	    margin: auto;
	}
	div#runnerDiv {
	    width: 400px;
	    height: 100px;
	    float: left;
	    font-family: arial, sans-serif;
/* 	    border: 1px solid black; */
	    font-size: 90px;
	    line-height: 1;
	}
	div#buttonsDiv {
	    margin-right: 400;
	    height: 100px;
	    font-family: arial, sans-serif;
	}
	
	.runnerStyle{
		font-family: Arial, sans-serif;
		font-size: 100px;
	}
	.main {
	    padding: 30px 0;
	}
	
	.glyphiconStyle {font-size: 45px;}

	.inputs {
	    margin-bottom: 0px;
    }
	

}
